head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(rel='stylesheet', href='/css/screen.css')
  link(rel='stylesheet', href='/css/tables.css')
  title #{title}
