html
  include ./head.pug
  body
    h2 Watson Speech to Text Service - Custom Language Model
    br
    h3 Hello #{username}
    br
    - for (var index = 0, len = links.length; index < len; index++)
      a(href=links[index].href) #{links[index].txt}
