nav(class='navbar navbar-default navbar-fixed-top')
  .container
    .navbar-header
      a(class='navbar-brand', href='#') Custom Language Model
    .navbar-collapse.collapse(id='navbar')
      ul(class='nav navbar-nav')
        li
          a(href='/pages/stt') Transcribe
        li
          a(href='/pages/corpus') Corpus
        li
          a(href='/pages/list-words') Words
        li
          a(href='/pages/lm-status') Custom Language Model
