.center-page {
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.responsive {
  height: 50%;
  min-width: 200px;
  max-width: 650px;
  padding: 40px;
}

.login-box {
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  margin-top: 10%;
}
