html
  include ../head.pug
  body
    h2 Speech to Text
    br
    form(method='POST', enctype='multipart/form-data', action='/pages/stt')
      table
        tr
          td
            b Wav file:
          td
            input(type='file', name='wav', id='wav', accept='.wav', placeholder='wav', autofocus, required)
        tr
          td
            b Language Model:
          td
            select(name='model', id='model', placeholder='model', required)
              option(value=options[0].value, selected) #{options[0].name}
              - for (var index = 1, length = options.length; index < length; index++)
                option(value=options[index].value) #{options[index].name}
        tr
          td(colspan=2)
            button(type='submit') Transcribe
